/* icon */

.main-sec {
    background-color: #f0f0f0;
    padding: 121px 0 21px;
    min-height: 100vh;

    .logo {
        display: block;
        width: 205px;
        height: 57px;
        position: absolute;
        top: 32px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.ic_sm {
    display: inline-block;
    width: 38px;
    height: 18px;
    vertical-align: middle;

    &.ic_hot {
        background: url(../img/hot@2x.png) no-repeat;
    }

    &.ic_new {
        background: url(../img/new@2x.png) no-repeat;
    }
}

/* card */

.crd {
    $this: &;

    position: relative;
    display: block;
    width: 340px;
    border-radius: 16px;
    box-shadow: 0 8px 22px 0 rgba(0, 0, 0, 0.12);
    background: white;
    overflow: hidden;
    line-height: 1.3;
    margin: auto;

    & + & {
        margin-top: 28px;
    }

    &.on {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 1;
        }
    }

    &--pros {
        #{$this}_img {
            &:after {
                background: url("../img/agree@2x.png") no-repeat;
                background-size: 100% 100%;
            }
        }
    }

    &--cons {
        #{$this}_img {
            &:after {
                background: url("../img/disagree@2x.png") no-repeat;
                background-size: 100% 100%;
            }
        }
    }
}

.crd_stat {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 10px;
    top: 7.5px;
    z-index: 1;

    .ic_sm + .ic_sm {
        margin-top: 6px;
    }
}

.crd_img {
    position: relative;
    width: 340px;
    height: 340px;
    overflow: hidden;

    .img {
        display: block;
        background-size: cover;
        height: 100%;
        background-position: 50% 50%;
        overflow: hidden;
    }
}

.crd_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.crd_conts {
    padding: 10px 16px;
}

.crd_infos {
    display: flex;
    justify-content: space-between;
    color: #c7c7c7;
    font-size: 13px;

    .right .crd_comment + .crd_vote {
        margin-left: 8px;
    }
}

.crd_tit {
    font-size: 22px;
    color: #181818;
    font-weight: bold;
    margin: 9px 0 15px;
    word-break: keep-all;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
