/* reset */
.blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    line-height: 0;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    clip: rect(0, 0, 0, 0);
}

.blind:before {
    display: block;
    width: 0;
    height: 0;
    font-size: 0;
    content: '\00a0';
} /* focus 빠짐 방지와 영역 정확히 잡는 역할 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote {
    &:before, &:after {
        content: none;
    }
}

q {
    &:before, &:after {
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    min-height: 100%;
    box-sizing: border-box;
    color: black;
}

a {
    color: inherit;
    text-decoration: inherit;
}

textarea:focus, input:focus {
    outline: none;
}

button {
    padding: 0;
    outline: 0;
    background-color: inherit;
    border: 0;
}

/* input 기본 스타일 초기화 */

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset !important;

        &:hover, &:focus, &:active {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
        }
    }

    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;

    /* Browsers have different default form fonts */
    font-size: 13px;
}

label, select, button, textarea {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;

    /* Browsers have different default form fonts */
    font-size: 13px;
}
