<script id="page_detail-footer" type="text/x-jsrender">
	<section class="howthink">
		<figure class="howthink_figure">
			<span class="howthink_img"></span>
			<figcaption class="howthink_figcap">
				<p class="howthink_desc">다른 사람들은 어떻게 생각할까요?</p>
				<p class="howthink_desc">투표 후 결과를 확인해보세요!</p>
			</figcaption>
		</figure>
	</section>

	<div class="btnarea btnarea--fixBottom btnarea--them1 js-vote-btn-wrap">
		<div class="btnarea_before">
			<button type="button" class="btn btn--size_l btn--before js-before">
				<span class="btn_tx">투표하기</span>
				<svg class="ic ic--stamp"><use xlink:href="#stamp" /></svg>
			</button>
		</div>
		<section class="btnarea_after">
				<header class="btnarea_after-header">
						<h1 class="btnarea_tit">투표하기</h1>
						<svg class="ic ic--stamp"><use xlink:href="#stamp" /></svg>
				</header>
				<button type="button" class="btnarea_after-close">
					<svg class="ic ic--close"><use xlink:href="#close" /></svg>
				</button>
				<div class="btnarea_after-conts js-after">
					<button type="button" class="btn btn--size_m btn--after js-after-opt1" value="1">
						<span class="btn_tx">{{:choice1}}</span>
					</button>
					<button type="button" class="btn btn--size_m btn--after js-after-opt2" value="2">
						<span class="btn_tx">{{:choice2}}</span>
					</button>
				</div>
		</section>
	</div>
</script>

<script id="page_detail-after" type="text/x-jsrender">
	<section class="contents ty_after {{if vote !== null }} on {{/if}} detail-sec_contents" data-vote="{{:vote}}">
		{{if vote == 1}}
				<section class="vote-result vote-result--pros">
					<header class="vote-result_header">
						<h1 class="vote-result_tit"> <span class="vote-result_choice">{{:choice1}}</span> <span class="vote-result_count">{{:fir_vote_perc}}</span>%</h1>
						<p class="vote-result_subtit">
							<span class="total">{{:sum_vote}}</span>명 중 <span class="current">{{:fir_vote_no}}</span>명
						</p>
					</header>
					<div class="vote-result_progbar">
						<div class="vote-result_progfill" style="width:{{:fir_vote_perc}}px"></div>
					</div>
				</section>
		{{else}}
				<section class="vote-result vote-result--pros">
					<header class="vote-result_header">
						<h1 class="vote-result_tit"> <span class="vote-result_choice">{{:choice2}}</span> <span class="vote-result_count">{{:sec_vote_perc}}</span>%</h1>
						<p class="vote-result_subtit">
							<span class="total">{{:sum_vote}}</span>명 중 <span class="current">{{:sec_vote_no}}</span>명
						</p>
					</header>
					<div class="vote-result_progbar">
						<div class="vote-result_progfill" style="width:{{:sec_vote_perc}}px"></div>
					</div>
				</section>
		{{/if}}

		<button type="button" class="expand-detail contents_expand-detail">
			<span class="expand-detail_tit">본문 펼치기</span>
			<i class="expand-detail_arrow"></i>
		</button>

		<ul class="comment-bestlist">
			<li class="comment-bestlist_item">
			</li>
		</ul>

		<ul class="comment-list">
		</ul>

		<footer class="reply">
			<div class="reply_nickarea" data-comment-id>
				<span class="reply_nick"></span>
				<span class="reply_close">
					<svg><use xlink:href="#close"></use></svg>
				</span>
			</div>
			<label for="reply" class="reply_label">
				<input type="text" class="reply_inp" id="reply"></input>
				<button type="button" class="reply_submit">
					<svg class="ic ic--stamp">
						<use xlink:href="#stamp" />
					</svg>
				</button>
			</label>
		</footer>

	</section>
</script>

<script id="page_detail-before" type="text/x-jsrender">
	<div class="contents ty_before {{if vote === null }} on {{/if}} detail-sec_contents">
		<section class="content contents_content">
			<header class="content_header">
			</header>
			{{:summary}}
		</section>
	
		<section class="content contents_content">
			<header class="content_header">
				<h1 class="content_title">{{:choice1}}</h1>
			</header>
			<ul class="list list--1">
				{{:fir_writ_content}}
			</ul>
		</section>
	
	
		<section class="content contents_content">
			<header class="content_header">
				<h1 class="content_title">{{:choice2}}</h1>
			</header>
			<ul class="list list--2">
				{{:sec_writ_content}}
			</ul>
		</section>

		<section class="xfile contents_xfile" data-target-layer="#_modal_xfile">
			<header class="xfile_header">
				<p class="xfile_subtit">신중한 당신을 위해</p>
				<h1 class="xfile_tit">4개의 X파일</h1>
			</header>
			<ul class="list list--fillgray list--ellipsis xfile_list">
			</ul>
		</section>

		{{include tmpl="#page_detail-footer"/}}
	</div>
</script>

<script id="page_detail" type="text/x-jsrender">
	<div class="detail-sec_header">
        <button type="button" class="back">
          <svg class="ic ic--arrow-left">
            <use xlink:href="#arrow" />
          </svg>
		</button>
		<button type="button" class="logo">
			<svg class="ic ic--logo">
				<use xlink:href="#logo" />
			</svg>
		</button>
        <i class="ic--kakao"></i>
      </div>
	<main class="page_detail" id="{{:writing_no}}">

		<div class="crd">
			<div class="crd_stat">
				<span class="ic_sm ic_hot"></span>
				<span class="ic_sm ic_new"></span>
			</div>
			<div class="crd_img">
				<span class="img" style="background-image:url(http://2weeks.io{{:title_img_path}});" alt="이미지">
					<video loop muted autoplay playsinline class="crd_video">
						<source src="http://2weeks.io{{:title_img_path}}" type="video/mp4">
					</video>
				</span>
			</div>
			<div class="crd_conts">
				<div class="crd_infos">
					<div class="left">
						<span class="crd_time">{{:reg_dts}}</span>
					</div>
					<div class="right">
						<span class="crd_comment">댓글 <span class="count">{{:sum_comment}}</span></span>
						<span class="crd_vote">투표 <span class="count">{{:sum_vote}}</span></span>
					</div>
				</div>
				<p class="crd_tit">{{:title}}</p>
			</div>
		</div>

		{{include tmpl="#page_detail-before" /}}
		{{include tmpl="#page_detail-after" /}}
	</main>
 </script>

<script id="comment_header--best" type="text/x-jsrender">
	<header class="comment_header">
		<p class="comment_headerwrap">
			<span class="comment_nick">{{:nickname}}</span>
			<span class="comment_refcnt">{{:sum_prefer}}</span>
		</p>
		<span class="comment_badge">BEST</span>
	</header>
</script>
<script id="comment_header--plain" type="text/x-jsrender">
	<header class="comment_header">
		<p class="comment_headerwrap">
			<span class="comment_nick">{{:nickname}}</span>
			<span class="comment_refcnt">{{:sum_prefer}}</span>
		</p>
		<div class="comment_header-optbar">
			<button type="button" class="comment_hdopts comment_header-up" value="0">
				<input class="blind recom_grp" type="radio" name="comment_rdo{{:comment_no}}" id="comment_rdo0{{:comment_no}}" {{if prefer == "0"}} checked disabled{{else prefer == "1" }} disabled {{/if}}>
				<label for="comment_rdo0{{:comment_no}}">
					<svg class="ic ic--upbtn"><use xlink:href="#upbtn"></use></svg>
				</label>
			</button>
			<button type="button" class="comment_hdopts comment_header-down" value="1">
				<input class="blind recom_grp" type="radio" name="comment_rdo{{:comment_no}}" id="comment_rdo1{{:comment_no}}" {{if prefer == "1"}} checked disabled{{else prefer == "0" }} disabled {{/if}}>
				<label for="comment_rdo1{{:comment_no}}">
					<svg class="ic ic--downbtn"><use xlink:href="#downbtn"></use></svg>
				</label>
			</button>
			<button type="button" class="comment_hdopts comment_header-reply" value="2">
				<input class="blind comment_inp" type="radio" name="comment_chk" id="comment_chk0{{:comment_no}}">
				<label for="comment_chk0{{:comment_no}}">
					<svg class="ic ic--replybtn"><use xlink:href="#replybtn"></use></svg>
				</label>
			</button>
		</div>
	</header>
</script>
<script id="subcomment_header" type="text/x-jsrender">
	<header class="comment_header">
		<p class="comment_headerwrap">
			<span class="comment_nick">{{:nickname}}</span>
			<span class="comment_refcnt">{{:sum_prefer}}</span>
		</p>
		<div class="comment_header-optbar">
			<button type="button" class="comment_hdopts comment_header-up" value="0">
				<input class="blind recom_grp" type="radio" name="comment_rdo{{:comment_no}}" id="subcomment_rdo0{{:comment_no}}"{{if prefer == "0"}} checked disabled{{else prefer == "1" }} disabled {{/if}} >
				<label for="subcomment_rdo0{{:comment_no}}">
					<svg class="ic ic--upbtn"><use xlink:href="#upbtn"></use></svg>
				</label>
			</button>
			<button type="button" class="comment_hdopts comment_header-down" value="1">
				<input class="blind recom_grp" type="radio" name="comment_rdo{{:comment_no}}" id="subcomment_rdo1{{:comment_no}}" {{if prefer == "1"}} checked disabled{{else prefer == "0" }} disabled {{/if}}>
				<label for="subcomment_rdo1{{:comment_no}}">
					<svg class="ic ic--downbtn"><use xlink:href="#downbtn"></use></svg>
				</label>
			</button>
		</div>
	</header>
</script>
<script id="bestReplyTmpl" type="text/x-jsrender">
	<section class="comment " id="{{:comment_no}}" data-depth="{{:depth}}" data-vote="{{:vote}}">
		{{include tmpl="#comment_header--best" /}}
		<section class="comment_subheader">
			<p class="comment_optionwrap">
				<span class="comment_option pros">{{:choice1}}</span>
				<span class="comment_option cons">{{:choice2}}</span>
			</p>
		</section>
		<section class="comment_contents">
			<p class="comment_maintx">
				{{:comment_content}}
			</p>
		</section>
		<footer class="comment_footer">
			<time class="comment_time">{{:reg_dts}}</time>
		</footer>
	</section>
</script>

<script id="replyTmpl" type="text/x-jsrender">
	<li class="comment-list_item">
		<section class="comment" id="{{:comment_no}}" data-vote="{{:vote}}">
			{{include tmpl="#comment_header--plain" /}}
			<section class="comment_subheader">
				<p class="comment_optionwrap">
					<span class="comment_option pros">{{:choice1}}</span>
					<span class="comment_option cons">{{:choice2}}</span>
				</p>
			</section>
			<section class="comment_contents">
				<p class="comment_maintx">
					{{:comment_content}}
				</p>
			</section>
			<footer class="comment_footer">
				<time class="comment_time">{{:reg_dts}}</time>
			</footer>
			<ul class="subcomment-list">
				{{if lowCommentDtoList}}
					{{for lowCommentDtoList tmpl="#subReplyTmpl"}}
					{{/for}}
				{{/if}}
			</ul>
		</section>
	</li>
</script>

<script id="subReplyTmpl" type="text/x-jsrender">
	<li class="subcomment_item">
		<section class="comment comment--sub " id="{{:comment_no}}" data-vote={{:vote}}>
			{{include tmpl="#subcomment_header" /}}
			<section class="comment_subheader">
				<p class="comment_optionwrap">
					<span class="comment_option pros">{{:choice1}}</span>
					<span class="comment_option cons">{{:choice2}}</span>
				</p>
			</section>
			<section class="comment_contents">
				<p class="comment_maintx">
					{{:comment_content}}
				</p>
			</section>
			<footer class="comment_footer">
				<time class="comment_time">{{:reg_dts}}</time>
			</footer>
		</section>
	</li>
</script>