.write_form{padding:10px 20px;}
.title{font-size:21px;margin:15px 0;}

.write_tit{font-size:15px;}
.write_tit,

.write_cont{display:block;width:100%;padding:10px;border:1px solid black;box-sizing:border-box;margin-top:20px;}
.write_cont{min-height:15vh;}
.write_cont.ty_summary{min-height:10vh;}
.write_cont b{font-weight:bold;}
.write_cont li{padding-left:5px;word-break:break-all;}
.write_cont ul li:before{content:"";display:inline-block;width:10px;height:10px;border-radius:50%;background:black;margin-right:5px;}
.write_cont ol{list-style:decimal;margin-left:15px;}

.btnarea{display:flex;align-items:center;justify-content: space-evenly;padding:10px;border:1px solid black;}
.btnarea + .btnarea{margin-top:-1px;}
.btnarea .btn{display:block;line-height:1;font-size:21px;color:#ff5b59;font-weight:bold;}

.inserted_image{width:100px;height:100px;}
.inserted_image.on{max-width:100%;max-height:100%;width:auto;height:auto;position:fixed;top:0;left:0;right:0;bottom:0;margin:auto;overflow:auto;}

.fontsize input{border:1px solid black; width:30px; margin-left:5px;}
.submit{display:block;margin:auto;border:1px solid black; border-radius:20px; padding: 10px 80px; margin: 50px auto;}

.factlink{display: block; width: 100%; min-height: 15vh; border:1px solid black;}